<div id="links" class="well">
  
  <h5>
    <i class="fa fa-home"></i>
    <%= link_to "Home", root_url %>
  </h5>	
 
  
	<h5>
    <%= fa_icon 'plus' %>
    <%= link_to 'Add to Calendar', new_event_path %>
  </h5>  
  
  <h5>
    <%= fa_icon 'arrow-circle-left' %>
    <a href ="https://docs.google.com/a/colgate.edu/forms/d/e/1FAIpQLSdqbfX1W1LyfpZc9QlfqB7w8fgMeLXJjIn0tcwwOW5njwHhDw/viewform">Request Tutor</a>
  </h5>
  
 
</div>
