<div class="row">
  <div id="newsfeed" class="col-lg-6">
	<% if false %>
	    <h4><%= fa_icon "newspaper-o" %> NEWSFEED</h4>
		
		  <div id="activities">
		    <% if @activities.empty? %>
		      <div class="well">
		        <%= render('shared/no_resource', resources: 'Activities') %>
		      </div>
		    <% else %>
		      <%= render_activities(@activities, layout: '/shared/activity') %>
		    <% end %>
		  </div>

	    <%= render 'shared/paginate', resources: @activities %>
			<% end %>
  </div>
  <div id="intro" class="col-lg-6">
    <h1>InstaTute</h1>
    <p>InstaTute is an online platform that connects students with peer tutors who have excelled in similar courses. Our main goal is to provide timely help to students. We are committed to work within the busy college lifestyle to make tutoring at school more accessible to all, while building strong campus unity and student involvement.</p>
    <hr>
   
  </div>
</div>
