
<div class="row">
  <% @courses.each do |profile| %>
    <div class="col-sm-6 ">
      <div>
        
        <div class="caption">
          <h5><p><%= link_to profile.name, profile %></p></h5>
      	  <br>
        </div>
      </div>
    </div>
  <% end %>
</div>
